:root {
  --main-color: #ffffff;
  --page-width: 1920px;
  --page-bg: #242b33;
  --submenu-bg: #242b33;
  --menu-color: #ffffff;
  --accent-color: #d4c17f;
  --table-header-footer-bg: rgba(255, 255, 255, 0.1);
  --form-text-color: #bebebe;
  --modal-additional-text-color: #e7e7e7;
  --modal-additional-bg: #565b60;
  --wrong-text-color: #ff6c6c;
  --area-bg: #a3a3a3;
  --area-text-color: #5c5c5c;
  --container-width: 1130px;
  --default-pd-left: 15px;
  --default-pd-right: 15px;
  --default-section-pd-top: 0;
  --default-section-pd-bottom: 0;

  --header-logo-width: 165px;
  --header-logo-height: 69px;

  --defaul-duration: 250ms;
  --default-timing: cubic-bezier(0.4, 0, 0.2, 1);

  --benefits-icon-w: 80px;
  --benefits-icon-h: 80px;
}

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-color);
  background: var(--page-bg);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* need correct */

.section {
  padding: 90px 0;
}

.container {
  outline: 1px solid white;
  width: var(--container-width);
  padding-left: var(--default-pd-left);
  padding-right: var(--default-pd-right);

  margin-left: auto;
  margin-right: auto;
}

.fill-icon {
  display: block;
  fill: currentColor;
}
/*  */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 110px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: var(--menu-color);
}

.header-logo-icon-size {
  display: block;
  width: var(--header-logo-width);
  height: var(--header-logo-height);
}

.header-menu {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.header-menu-item {
  position: relative;
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.header-menu-item:hover,
.header-menu-item:focus,
.header-submenu-link:hover,
.header-submenu-link:focus {
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
}

.header-menu-item:hover .header-submenu,
.header-menu-item:focus .header-submenu {
  opacity: 1;
  color: var(--menu-color);
}

.header-menu-icon-size {
  display: inline-block;
  width: 9px;
  height: 5px;
  margin-left: 4px;
}

.header-menu-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 15px;
}

.header-submenu {
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;

  transition: opacity var(--defaul-duration) var(--default-timing);
  min-width: 143px;
  min-height: 100px;
  background-color: var(--submenu-bg);
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
}

.header-submenu-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.header-submenu-item:not(:last-child) {
  margin-bottom: 6px;
}

/* main */

.hero {
  outline: 1px solid tomato;
  width: 100%;
  height: 840px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
      180deg,
      #242b33 6.56%,
      rgba(36, 43, 51, 0.3) 50.31%,
      #242b33 89.37%
    ),
    url(../images/hero-image.jpeg);
  background-size: cover;
  background-color: inherit;
  z-index: -1;
}

.hero-title {
  text-align: center;
  font-family: Playfair Display, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  color: var(--accent-color);
  margin-bottom: 100px;
}

.hero-icon-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.hero-icon {
  width: 23.53px;
  height: 40px;
  margin-bottom: 200px;
}

.hero-contacts {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
}

.hero-contacts-item:not(:last-child) {
  margin-right: 134px;
}

.hero-contact-item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero-contact-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.hero-contact-icon-size {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 7px;
}

.benefits-list {
  display: flex;
  justify-content: center;
}

.benefits-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 160px;
}

.benefits-list-item:not(:last-child) {
  margin-right: 72px;
}

.benefits-icon {
  display: block;
  width: var(--benefits-icon-w);
  height: var(--benefits-icon-h);
  margin-bottom: 50px;
}

.benefits-description {
  display: block;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
}

/* pricing */

.pricing {
  padding-bottom: 15px;
}

.invite {
  padding-top: 152px;
  padding-bottom: 152px;
}
